#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

th, td {
	padding-left: 1rem;
	padding-right: 1rem;
}

.text-muted {
	color:gray;
	text-decoration: none;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: rgba(100, 100, 100, 0.5);
	text-align: center;
	z-index: 100;
}
